[STITCHPARS]
instrument = MAROONX
# Trace selection to stitch (e.g 1-3,4,6)
# For MAROONX, traces 2,3,4 correspond to the three science fibers.
# These map to MAROONX's internal TRACE2, TRACE3, TRACE4.
# TRACE1 is the sky fiber and TRACE5 is the calibration fiber.
# TRACE6 is virtual fiber created by flux combining the three science fibers
trace_selection = 2,3,4,6
# Echelle orders for blue segment start
echorder_blue_start = 124
# Echelle orders for blue segment end. Leave blank for single flat source
echorder_blue_end =
# Echelle orders for red segment start. Leave blank for single flat source
echorder_red_start =
# Echelle orders for red segment end
echorder_red_end = 91
# Start wavelength (A) of the stitched wavelength grid
wavegrid_start = 4905
# End wavelength (A) of the stitched wavelength grid
wavegrid_end = 6783
# Average pixel width in velocity space (m/s) across all orders. Leave blank to calculate from wavelength array
velpix = 1000.0
