[STITCHPARS]
instrument = NEID
iordermin = 4         # First order to include in stitching # TODO use wav limits instead
iorderflatbreak = 78  # Order where the flat breaks # TODO make function for flat break
iordermax = 116       # Last order to include in stitching # TODO use wav limits instead
nbins = 50000         # Number of bins for the stitched spectrum
# TODO Specify wavstart and waveend and derive nbins from the input data itself