[STITCHPARS]
instrument = NEID
# Trace selection to stitch (e.g 1-3,4,6)
trace_selection = 1
# Echelle orders for blue segments
echorder_blue_start = 164
# Leave blank for single flat source 
echorder_blue_end = 96
echorder_red_start = 95
# Echelle orders for blue segments
echorder_red_end = 61
# Start wavelength (A) of the stitched wavelength grid (before 3569.0)
wavegrid_start = 3670.0
# End wavelength (A) of the stitched wavelength grid (before 11256.0)
wavegrid_end = 10200.0
# Average pixel width in velocity space (m/s) across all orders. If None is calculated from the wavelength array provided.
velpix = 621.0
