[STITCHPARS]
instrument = NEID
# First order to include in stitching TODO: use wav limits instead
iordermin = 4
# Order where the flat breaks TODO: make function for flat break
iorderflatbreak = 78
# Last order to include in stitching TODO: use wav limits instead
iordermax = 116
# Number of bins for the stitched spectrum TODO: Specify wavstart and waveend and derive nbins from the input data itself
nbins = 50000
# Start wavelength (A) of the stitched wavelength grid
wavestart =
# End wavelength (A) of the stitched wavelength grid
waveend =
